@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap');
/*font https://fonts.google.com/specimen/Kanit?preview.text_type=custom*/

/* ---------------------------------body-------------------------------- */
body{
    font-family:'Kanit', sans-serif;
    font-weight: 1000;
    margin: 0;
    background-color: #f5dc99;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}
/* ---------------------------------body-------------------------------- */
/* ---------------------------------html-------------------------------- */
html{
    scroll-behavior: smooth;
    height: 100%;
}
/* ---------------------------------html-------------------------------- */
/*------------------------------------navbar--------------------------------*/
.innavbar{
    margin-top: 10px;
    margin-left: 10px;
}

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: rgb(248, 160, 60);
}
  
/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 30px;
}
.navbar img {
    float: left;
    display: block;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    width: 200px;
    padding: 20px;
}
  
  
/* The dropdown container */
.dropdown {
    float: right;
    overflow: hidden;
}
  
/* Dropdown button */
.dropdown .dropbtn {
    font-size: 30px;
    border: none;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-weight: 1000;
    padding: 14px 16px ;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}
  
/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(252, 178, 66);
    color: black;
}
  
/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffe3d1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}
  
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
/*------------------------------------navbar--------------------------------*/